@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>
<head>

</head>
<body>
    <div>
        <h1>Pagina Principal.</h1>
        @Html.ActionLink("Listado de clientes", "Listado", "Clientes");
        <br />
        @Html.ActionLink("Crear clientes", "Crear", "Clientes");
        <hr />
        @Html.ActionLink("Listado de proveedores", "Listado", "Proveedores");
        <br />
        @Html.ActionLink("Crear proveedores", "Crear", "Proveedores");
    </div>
</body>
</html>

